<table>
  <tbody>
    <% @cart.items.each do |cartitem| %>
      <%# Somewhat hacky. If there's @failed_item, show error for it %>
      <% if @failed_item && cartitem.item.id == @failed_item.item.id %>
        <tr>
          <td colspan="4">
            <% @failed_item.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td>
          <%= cartitem.item.title %>
        </td>

        <td>
          <%= cartitem.quantity %>
        </td>

        <%# TODO: align and format %>
        <td>
          <%= cartitem.item.price %> ₴
        </td>

        <td>
          <%= form_for cartitem,
              url: cart_item_path(cartitem.item.id),
              html: {method: "put"} do |f| %>
            <%= f.text_field :quantity %>
            <%= f.submit "Update quantity" %>
          <% end %>
        </td>

        <td>
          <%= form_for cartitem,
              url: cart_item_path(cartitem.item.id),
              html: {method: "put"} do |f| %>
            <%= f.hidden_field :quantity, value: cartitem.quantity + 1 %>
            <%= f.submit "+" %>
          <% end %>
        </td>

        <td>
          <%= form_for cartitem,
              url: cart_item_path(cartitem.item.id),
              html: {method: "put"} do |f| %>
            <%= f.hidden_field :quantity, value: cartitem.quantity - 1 %>
            <%= f.submit "-" %>
          <% end %>
        </td>
      </tr>
    <% end %>

    <% if @price_summary.active_discounts.any? %>
      <tr>
        <td colspan="6">Discounts:</td>
      </tr>
    <% end %>

    <% @price_summary.active_discounts.each do |discount| %>
      <tr>
        <td colspan="2">
          <%= discount.text %>
          <%= if discount.times > 1 then discount.times + 'x' else '' end %>
        </td>
        <td>
          -<%= discount.amount %> ₴
        </td>
        <td colspan="3">
      </tr>
    <% end %>

    <tr>
      <td colspan="2">Total</td>
      <td><%= @price_summary.total_price %> ₴</td>
      <td colspan="3"></td>
    </tr>
  </tbody>
</table>
