<h1>Cart</h1>
<table class="u-full-width cart">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.items.each do |cartitem| %>
      <%# Somewhat hacky. If there's @failed_item, show error for it %>
      <% if @failed_item && cartitem.item.id == @failed_item.item.id %>
        <tr>
          <td colspan="4">
            <% @failed_item.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td>
          <%= cartitem.item.title %>
        </td>

        <td class="price">
          <%= '%0.2f' % cartitem.price %> ₴
        </td>

        <td class="button-cell">
          <%= form_for cartitem,
              url: cart_item_path(cartitem.item.id),
              html: {method: "put"} do |f| %>
            <%= f.text_field :quantity, class: :quantity %>
            <%= f.submit "Set qty", class: :quantity_button %>
          <% end %>
        </td>

        <td class="button-cell">
          <%= form_for cartitem,
              url: cart_item_path(cartitem.item.id),
              html: {method: "put"} do |f| %>
            <%= f.hidden_field :quantity, value: cartitem.quantity + 1 %>
            <%= f.submit "+" %>
          <% end %>
        </td>

        <td class="button-cell">
          <% if cartitem.quantity > 1 %>
            <%= form_for cartitem,
                url: cart_item_path(cartitem.item.id),
                html: {method: "put"} do |f| %>
              <%= f.hidden_field :quantity, value: cartitem.quantity - 1 %>
              <%= f.submit "-" %>
            <% end %>
          <% end %>
        </td>

        <td class="button-cell">
          <%= form_for cartitem,
              url: cart_item_path(cartitem.item.id),
              html: {method: "put"} do |f| %>
            <%= f.hidden_field :quantity, value: 0 %>
            <%= f.submit "Remove" %>
          <% end %>
        </td>
      </tr>
    <% end %>

    <tr class="subtotal">
      <td>Subtotal</td>
      <td class="price"><%= '%0.2f' % @price_summary.sum_price %> ₴</td>
      <td colspan="4"></td>
    </tr>

    <% if @price_summary.active_discounts.any? %>
      <tr>
        <td colspan="6" class="discounts-separator">Discounts:</td>
      </tr>
    <% end %>

    <% @price_summary.active_discounts.each do |discount| %>
      <tr>
        <td>
          <%= discount.text %>
          <strong>
            <%= if discount.times > 1 then discount.times.to_s + 'x' else '' end %>
          </strong>
        </td>
        <td class="price">
          -<%= '%0.2f' % discount.amount %> ₴
        </td>
        <td colspan="4">
      </tr>
    <% end %>

    <tr class="total">
      <td>Total</td>
      <td class="price"><%= '%0.2f' % @price_summary.total_price %> ₴</td>
      <td colspan="4"></td>
    </tr>
  </tbody>
</table>
