<%= form_for(@discount_rule) do |f| %>
  <% if @discount_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount_rule.errors.count, "error") %> prohibited this discount_rule from being saved:</h2>

      <ul>
      <% @discount_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.collection_select :item_id, Item.all, :id, :title,
                            include_blank: '---' %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br>
    <%= f.collection_select :tag_id, Tag.all, :id, :title,
                            include_blank: '---' %>
  </div>
  <div class="field">
    <%= f.label :price_discount %><br>
    <%= f.text_field :price_discount %>
  </div>
  <div class="field">
    <%= f.label :percentage_discount %><br>
    <%= f.text_field :percentage_discount %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.check_box :repeating %>
    <%= f.label :repeating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
